<!DOCTYPE html>
<html lang="en">

<head>
  <title>🔮 MAGIC MOCK API</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/oceanic-next.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>
</head>

<body>
  <header>
    <h1>
    🔮 MAGIC MOCK API
    </h1>
  </header>

  <main>
    <button id="fetch-btn">Fetch 🛰</button>
    <div class="editors">
      <textarea id="code-editor"></textarea>
      <br />
      <textarea id="response-editor"></textarea>
    </div>
  </main>


  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js"></script>

</body>

</html>
